.white {
    background-color: burlywood;
}

.black {
    background-color: #4d3737;
}

.black,
.white {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chessBoard {
    width: 800px;
    height: 800px;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.figure-sizing {
    margin: 0px;
}

.chess-piece-white {
    color: white;
}
.chess-piece-black {
    color: black;
}

.clickedFigure {
    &.chess-piece-white {
        color: #a5a1a1;
        
    }
    &.chess-piece-black {
        color: #222020;
    }
}

.selectedField {
    background-color: lightgray;
}

#logoTitle {
 margin-left: 10px;
    margin-right: 10px;
    grid-column-start: 2;
    grid-row-start: 1;
}
#logoContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
}
#slogan {
    grid-column-start: 2;
    grid-row-start: 2;
}
#logoPicture {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 400%;
    margin: 0px;
}
